@{
    ViewData["Title"] = "Spotify Dashboard";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="topnav container-fluid navbar-fixed-top">
    <input type="search" class="search" placeholder="Search">
    <a href="/logout" class="topnavright">Log Out&emsp;</a>
    <a href="/userprofile/@ViewBag.UserId" class="topnavright">&nbsp;@ViewBag.Username&emsp;&emsp;</a>
    <img src="~/images/profile.png" alt="Spotify Logo" class="profile">
</div>
<div class="sidenav">
    <a href="/overview" class="sidebar">Browse</a>
    <br>
    <a href="#" class="sidebar">Radio</a>
    <br>
    <br>
    <h5 class="sidelabel">YOUR LIBRARY</h5>
    <a href="#" class="sidebar">Songs</a>
    <br>
    <a href="#" class="sidebar">Albums</a>
    <br>
    <a href="#" class="sidebar">Artists</a>
    <br>
    <a href="#" class="sidebar">Stations</a>
    <br>
    <a href="#" class="sidebar">Podcasts</a>
    <br>
    <br>
    <h5 class="sidelabel">PLAYLISTS</h5>
    <a href="#" class="sidebar">Dima</a>
    <br>
    <a href="#" class="sidebar">Vanessa</a>
    <br>
    <a href="#" class="sidebar">Chelsea</a>
    <br>
</div>
<br>
<div class="featuredalbum">
    <div class="featuredalbumblur"></div>
    <div class="albumshow">
        <img src="~/images/kishi_albumcover.jpg" alt="Kishi Bashi" class="albumcover">
    </div>
    <div class="albuminfo">
        <h3 class="header">151a</h3>
        <h6 class="header skinny">Kishi Bashi</h6>
        <h6 class="header skinny">In 2014 Kishi Bashi released his own line of coffee through Jittery Joe's called Royal Daark Blend. Each purchase comes with an exclusive song download.</h6>
        <form action="#">
            <button class="btn btn-info albumplaysong">PLAY</button>
        </form>
    </div>
    <div class="savebtn">
        <form action="#">
            <button class="savesong">SAVE</button>
        </form>
    </div>
</div>

<div class="spotify-body">
    <ul class="nav nav-tabs">
    <li><a href="/overview">OVERVIEW</a></li>
    <li><a href="/podcasts">PODCASTS</a></li>
    <li><a href="/concerts">CONCERTS</a></li>
    <li class="active"><a href="#">CHARTS</a></li>
    <li><a href="/genremood">GENRES & MOODS</a></li>
    </ul>
</div>

<!-- THIS IS THE LIMIT -->

<div id="charts" class="tabcontent">
    <h1>CHARTS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dolor leo, rhoncus eu elit ac, varius semper lacus. Aliquam rhoncus arcu sit amet mauris ullamcorper, eu hendrerit lectus mollis. Suspendisse enim justo, iaculis id neque ac, sodales dapibus risus. Sed placerat consectetur ultrices. Ut laoreet venenatis nunc et rhoncus. Mauris tristique rutrum est, id faucibus justo. Donec volutpat semper massa id efficitur. Fusce vitae lacus et quam fermentum efficitur. Morbi vitae ex id felis dictum fringilla at in nunc. Praesent in diam posuere, consequat eros quis, porta urna. Nunc sagittis, nisl at venenatis mattis, sapien eros interdum quam, id tempus nisl quam at nisl. Aliquam risus est, feugiat vel condimentum ultrices, tincidunt eu purus.</p>
    <div class="imgs">
        <img src="~/images/imgs/cat2.png" alt="">
        <img src="~/images/imgs/pup2.png" alt="">
        <img src="~/images/imgs/ham2.png" alt="">
        <img src="~/images/imgs/otter2.png" alt="">
    </div>
</div>