@{
    ViewData["Title"] = "Spotify Dashboard";
}
@model SpotifyProject.Models.PlaylistValidation
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="topnav container-fluid navbar-fixed-top">
    <!-- <input type="search" class="search" placeholder="Search" id="search"> -->
    <a href="/search" class="btn btn-info search">Search</a>
    <a href="/logout" class="topnavright">Log Out&emsp;</a>
    <a href="/userprofile/@ViewBag.UserId" class="topnavright">&nbsp;@ViewBag.Username&emsp;&emsp;</a>
    <img src="~/images/profile.png" alt="Spotify Logo" class="profile">
</div>
<div class="sidenav">
    <a href="/overview" class="sidebar">Browse</a>
    <br>
    <br>
    <h5 class="sidelabel">YOUR LIBRARY</h5>
    <a href="/songs/@ViewBag.UserId" class="sidebar">Songs</a>
    <br>
    <a href="/albums" class="sidebar">Albums</a>
    <br>
    <a href="/artists" class="sidebar">Artists</a>
    <br>
    <a href="/recentlyplayed" class="sidebar">Recently Played</a>
    <br>
    <br>
    <h5 class="sidelabel">PLAYLISTS</h5>
    @{
        @foreach(var playlist in ViewBag.MyPlaylists)
        {
            <a href="/playlist/@playlist.PlaylistId" class="sidebar">@playlist.PlaylistTitle</a>
            <br>
        }
    }
    <br>
    <br>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="addplaylist btn-info">+ NEW PLAYLIST</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="background: #1f1f1f; width: 550px; height: 110px; border: 2px solid #57B65F;">
            <span class="close">&times;</span>
            <form asp-action="AddPlaylist" asp-controller="Spotify" method="post">
                <span asp-validation-for="PlaylistTitle" class="error"></span>
                <br>
                <input asp-for="PlaylistTitle" placeholder="Playlist Title" style="height: 30px; width: 305px; border-radius: 20px; padding-left: 20px; color: black;">
                <button class="btn btn-info addplaylist" style="width: 150px; border-radius: 20px; margin-left: 20px;">ADD</button>
            </form>
        </div>
    </div>
    <!-- End of Modal -->
    
</div>
<br>
<div class="featuredalbum">
    <div class="featuredalbumblur"></div>
    <div class="albumshow">
        <img src="~/images/kishi_albumcover.jpg" alt="Kishi Bashi" class="albumcover">
    </div>
    <div class="albuminfo">
        <h3 class="header">151a</h3>
        <h6 class="header skinny">Kishi Bashi</h6>
        <h6 class="header skinny">In 2014 Kishi Bashi released his own line of coffee through Jittery Joe's called Royal Daark Blend. Each purchase comes with an exclusive song download.</h6>
        <form action="#">
            <button class="btn btn-info albumplaysong">PLAY</button>
        </form>
    </div>
    <div class="savebtn">
        <form action="#">
            <button class="savesong">SAVE</button>
        </form>
    </div>
</div>

<div class="spotify-body">
    <ul class="nav nav-tabs">
    <li><a href="/overview">OVERVIEW</a></li>
    <li class="active"><a href="#">CONCERTS</a></li>
    <li><a href="/charts">CHARTS</a></li>
    <li><a href="/genremood">GENRES & MOODS</a></li>
    </ul>
</div>

<!-- THIS IS THE LIMIT -->

<div id="concerts" class="tabcontent">
    <h3 class="headerwhite">Chicago</h3>
    <br>
    <h4 class="headerwhite">Recommended For You</h4>
    <div class="concerttable">
        <table class="table active">
            <thead>
                <th class="sidelabel">ARTIST</th>
                <th class="sidelabel">DATES</th>
                <th class="sidelabel">VENUE</th>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/images/imgs/justin.png" alt="" class="concertimg"> Justin Timberlake</td>
                    <td>May 27 - Oct 05</td>
                    <td>United Center</td>
                </tr>
                <tr>
                    <td><img src="~/images/imgs/huron.png" alt="" class="concertimg"> Lord Huron</td>
                    <td>Sat, Apr 21</td>
                    <td>Riviera Theatre</td>
                </tr>
                <tr>
                    <td><img src="~/images/imgs/bruno.png" alt="" class="concertimg"> Lollapalooza 2018</td>
                    <td>Thu, Aug 02</td>
                    <td>Grant Park</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<div class="navbar-fixed-bottom">
    <audio id="audio" preload="auto"></audio>
    <div class="btn-group">
        <button onclick="Play('music.mp3','audio');" class="btn btn-custom"><span title="Play" id="play" class="glyphicon glyphicon-play aligned"></span></button>
        <button onclick="Stop('music.mp3','audio');" class="btn btn-custom"><span title="Stop" id="stop" class="glyphicon glyphicon-stop aligned"></span></button>
        <button onclick="Restart('music.mp3','audio');" class="btn btn-custom"><span title="Restart" id="restart" class="glyphicon glyphicon-step-backward aligned"></span></button>
        <button onclick="Backward5('music.mp3','audio');" class="btn btn-custom"><span title="-5 seconds" id="play" class="glyphicon glyphicon-fast-backward aligned"></span></button>
        <button onclick="Forward5('music.mp3','audio');" class="btn btn-custom"><span title="+5 seconds" id="play" class="glyphicon glyphicon-fast-forward aligned"></span></button>
        <button onclick="Backward1('music.mp3','audio');" class="btn btn-custom"><span title="-1 second" id="play" class="glyphicon glyphicon-chevron-left aligned"></span></button>
        <button onclick="Forward1('music.mp3','audio');" class="btn btn-custom"><span title="+1 second" id="play" class="glyphicon glyphicon-chevron-right aligned"></span></button>
        <button onclick="VolumeUp('music.mp3','audio');" class="btn btn-custom"><span title="Volume Up" id="volumeup" class="glyphicon glyphicon-plus aligned"></span></button>
        <button onclick="VolumeDown('music.mp3','audio');" class="btn btn-custom"><span title="Volume Down" id="volumedown" class="glyphicon glyphicon-minus aligned"></span></button>
    </div>
</div>