@{
    ViewData["Title"] = "Spotify User Playlist";
}
@model SpotifyProject.Models.PlaylistValidation
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="topnav container-fluid navbar-fixed-top">
    <input type="search" class="search" placeholder="Search">
    <a href="/logout" class="topnavright">Log Out&emsp;</a>
    <a href="/userprofile/@ViewBag.UserId" class="topnavright">&nbsp;@ViewBag.Username&emsp;&emsp;</a>
    <img src="~/images/profile.png" alt="Spotify Logo" class="profile">
</div>
<div class="sidenav">
    <a href="/overview" class="sidebar">Browse</a>
    <br>
    <br>
    <h5 class="sidelabel">YOUR LIBRARY</h5>
    <a href="/songs/@ViewBag.UserId" class="sidebar">Songs</a>
    <br>
    <a href="/albums" class="sidebar">Albums</a>
    <br>
    <a href="/artists" class="sidebar">Artists</a>
    <br>
    <a href="#" class="sidebar">Recently Played</a>
    <br>
    <br>
    <h5 class="sidelabel">PLAYLISTS</h5>
    @{
        @foreach(var playlist in ViewBag.MyPlaylists)
        {
            <a href="/playlist/@playlist.PlaylistId" class="sidebar">@playlist.PlaylistTitle</a>
            <br>
        }
    }
    <br>
    <br>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn" class="addplaylist btn-info">+ NEW PLAYLIST</button>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="background: #1f1f1f; width: 550px; height: 110px; border: 2px solid #57B65F;">
            <span class="close">&times;</span>
            <form asp-action="AddPlaylist" asp-controller="Spotify" method="post">
                <span asp-validation-for="PlaylistTitle" class="error"></span>
                <br>
                <input asp-for="PlaylistTitle" placeholder="Playlist Title" style="height: 30px; width: 305px; border-radius: 20px; padding-left: 20px; color: black;">
                <button class="btn btn-info addplaylist" style="width: 150px; border-radius: 20px; margin-left: 20px;">ADD</button>
            </form>
        </div>
    </div>
    <!-- End of Modal -->
</div>
<div class="row user-info-parent">
    <div class="user-info">
        <img src="~/images/profile2.png" alt="Spotify Logo" class="user-info-img">
        <h1 class="user-info-username">@ViewBag.Username</h1>
    </div>
</div>
<div class="spotify-user-body">
    <hr class="invisibleborder">
    <h1 class="header play">Playlist &#8594; @ViewBag.ThisPlaylist.PlaylistTitle</h1>
    <h3 class="header">Songs in this Playlist:</h3>
    <table class="table active">
        <thead>
            <tr>
                <th class="sidelabel">TITLE</th>
                <th class="sidelabel">ARTIST</th>
                <th class="sidelabel">ALBUM</th>
            </tr>
        </thead>
        <tbody>
<!-- HARDCODED! FIX! -->
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
<!-- END HARDCODE! FIX! -->
        </tbody>
    </table>
</div>
<br>