@{
    ViewData["Title"] = "Spotify Songs";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="topnav container-fluid navbar-fixed-top">
    <input type="search" class="search" placeholder="Search">
    <a href="/logout" class="topnavright">Log Out&emsp;</a>
    <a href="/userprofile/@ViewBag.UserId" class="topnavright">&nbsp;@ViewBag.Username&emsp;&emsp;</a>
    <img src="~/images/profile.png" alt="Spotify Logo" class="profile">
</div>
<div class="sidenav">
    <a href="/overview" class="sidebar">Browse</a>
    <br>
    <br>
    <h5 class="sidelabel">YOUR LIBRARY</h5>
    <a href="/songs/@ViewBag.UserId" class="sidebar">Songs</a>
    <br>
    <a href="#" class="sidebar">Albums</a>
    <br>
    <a href="#" class="sidebar">Artists</a>
    <br>
    <a href="#" class="sidebar">Recently Played</a>
    <br>
    <br>
    <h5 class="sidelabel">PLAYLISTS</h5>
    <a href="#" class="sidebar">Dima</a>
    <br>
    <a href="#" class="sidebar">Vanessa</a>
    <br>
    <a href="#" class="sidebar">Chelsea</a>
    <br>
</div>
<div class="row user-info-parent">
    <div class="user-info">
        <img src="~/images/profile2.png" alt="Spotify Logo" class="user-info-img">
        <h1 class="user-info-username">@ViewBag.Username</h1>
    </div>
</div>
<div class="spotify-songs-body">
    <h1 class="header">Songs</h1>
    <table class="table active">
        <thead>
            <tr>
                <th class="sidelabel">TITLE</th>
                <th class="sidelabel">ARTIST</th>
                <th class="sidelabel">ALBUM</th>
            </tr>
        </thead>
        <tbody>
<!-- HARDCODED! FIX! -->
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
            <tr>
                <td><a href="">Song Name</a></td>
                <td><a href="">Artist Name</a></td>
                <td><a href="">Album Name</a></td>
            </tr>
<!-- END HARDCODE! FIX! -->
        </tbody>
    </table>
</div>