@{
    ViewData["Title"] = "Spotify Login";
}
@model SpotifyTest.Models.LoginUser
<head>
    <link rel="stylesheet" href="~/css/userlandingpage.css" />
</head>

<div class="brand">
    <img src="~/images/spotify_white.png" alt="Spotify Logo">
    <h1 class="brand">Spotify?</h1>
</div>
<br>
<form asp-action="LoginUser" asp-controller="Home" method="post">

    <span asp-validation-for="Email" class="error"></span>
    <br>
    <input asp-for="Email" class="form-control" type="email" placeholder="Email">

    <span asp-validation-for="Password" class="error"></span>
    <br>
    <input asp-for="Password" class="form-control" placeholder="Password">
    <br>
    <button class="btn btn-info">LOG IN</button>

</form>
<a href="/" class="logsign">LOGIN/SIGNUP</a>