@{
    ViewData["Title"] = "Spotify";
}
<head>
    <link rel="stylesheet" href="~/css/loginsignup.css" />
</head>

<div class="brand landing">
    <img src="~/images/spotify_white.png" alt="Spotify Logo">
    <h1 class="brand">Spotify?</h1>
</div>
<br>
<form action="/signup">
    <button class="btn btn-info">SIGN UP FOR FREE</button>
</form>
<h4 class="or">OR</h4>
<form action="/login">
    <button class="btn btn-info">LOG IN</button>
</form>